<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UAT Automation</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <template id="TestScenario">
      <div>
        <h3>테스트 시나리오</h3>
        <table>
          <thead>
            <th>시나리오ID</th>
            <th>시나리오명</th>
          </thead>
          <tbody>
            <tr
              v-for="testScenario in testScenarioList"
              :key="testScenario.tsId"
              @click="clickTsId(testScenario.tsId)"
            >
              <td>{{ testScenario.tsId }}</td>
              <td>{{ testScenario.tsName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
    <script>
      Vue.component('TestScenario', {
        template: '#TestScenario',
        data() {
          return {
            testScenarioList: [
              {
                tsId: 'ts1',
                tsName: '시나리오1',
              },
              {
                tsId: 'ts2',
                tsName: '시나리오2',
              },
              {
                tsId: 'ts3',
                tsName: '시나리오3',
              },
            ],
          };
        },
        methods: {
          clickTsId(tsId) {
            eventBus.$emit('clickTsId', tsId);
          },
        },
      });
    </script>
    <template id="TestCase">
      <div>
        <table>
          <thead>
            <th>케이스id</th>
            <th>케이스명</th>
            <th>시나리오id</th>
          </thead>
          <tbody>
            <tr v-for="testCase in testCaseList" :key="testCase.tcId">
              <td>{{ testCase.tcId }}</td>
              <td>{{ testCase.tcName }}</td>
              <td>{{ testCase.tsId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
    <script>
      Vue.component('TestCase', {
        template: '#TestCase',
        data() {
          return {
            originTestCaseList: [
              { tcId: 'tc1', tcName: '케이스1', tsId: 'ts1' },
              { tcId: 'tc2', tcName: '케이스2', tsId: 'ts1' },
              { tcId: 'tc3', tcName: '케이스3', tsId: 'ts3' },
              { tcId: 'tc4', tcName: '케이스4', tsId: 'ts3' },
            ],
            testCaseList: [],
          };
        },
        methods: {
          filterTestCase(tsId) {
            console.log(tsId);
            this.testCaseList = this.originTestCaseList.filter(
              row => row.tsId === tsId
            );
          },
        },
        created() {
          this.testCaseList = [...this.originTestCaseList];
          eventBus.$on('clickTsId', this.filterTestCase);
        },
      });
    </script>
    <template id="TestExecution">
      <div>
        <test-scenario></test-scenario>
        <test-case></test-case>
        <button @click="execution">실행</button>
      </div>
    </template>
    <script>
      Vue.component('TestExecution', {
        template: '#TestExecution',
        methods: {
          execution() {
            alert('실행');
          },
        },
        data() {
          return {};
        },
      });
    </script>
    <template id="TestHistory">
      <div>
        <table>
          <thead>
            <th>일자</th>
            <th>시각</th>
            <th>시나리오</th>
          </thead>
          <tbody>
            <tr v-for="testHistory in testHistoryList" :key="testHistory.tsId">
              <td>{{ testHistory.date }}</td>
              <td>{{ testHistory.time }}</td>
              <td>{{ testHistory.tsId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
    <script>
      Vue.component('TestHistory', {
        template: '#TestHistory',
        data() {
          return {
            testHistoryList: [
              { date: '20190606', time: '010000', tsId: 'ts1' },
              { date: '20190606', time: '010000', tsId: 'ts2' },
              { date: '20190606', time: '010000', tsId: 'ts3' },
            ],
          };
        },
      });
    </script>

    <template id="navigation">
      <div>
        <a href="#" @click="changeTestExecution">테스트 실행</a>
        <a href="#" @click="changeTestHistory">실행내역</a>
      </div>
    </template>
    <script>
      Vue.component('navigation', {
        template: '#navigation',
        methods: {
          changeTestExecution() {
            eventBus.$emit('changeTestExecution', 'TestExecution');
          },
          changeTestHistory() {
            eventBus.$emit('changeTestHistory', 'TestHistory');
          },
        },
      });
    </script>

    <template id="home">
      <div>
        <header>
          <h1>UAT Automation</h1>
        </header>
        <nav>
          <navigation></navigation>
        </nav>
        <section>
          <test-execution
            v-if="currentComponent === 'TestExecution'"
          ></test-execution>
          <test-history
            v-else-if="currentComponent === 'TestHistory'"
          ></test-history>
        </section>
        <footer>
          copyright
        </footer>
      </div>
    </template>

    <script>
      Vue.component('home', {
        template: '#home',
        data() {
          return {
            currentComponent: 'TestExecution',
          };
        },
        methods: {
          changeCurrentComponent(component) {
            this.currentComponent = component;
          },
        },
        created() {
          eventBus.$on('changeTestExecution', this.changeCurrentComponent);
          eventBus.$on('changeTestHistory', this.changeCurrentComponent);
        },
      });
    </script>

    <div id="app">
      <home></home>
    </div>

    <script>
      var eventBus = new Vue();
      var vm = new Vue({
        el: '#app',
      });
    </script>
  </body>
</html>
